 /* This styling applies to everything. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the color of the page. */
body {
    background-color: #d9dcd6;
}

/* Sets the styling for the navigation bar */
.navigation-bar {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.navigation-bar h1 {
    display: inline-block;
    font-size: 48px;
}

.navigation-bar h1 .logo-highlight {
    color: #d9dcd6;
}

.navigation-bar div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navigation-bar div ul {
    list-style-type: none;
}

.navigation-bar div ul li {
    display: inline-block;
    margin-left: 25px;
}

.main-content-container {
    margin: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.main-content-container hr {
    flex-basis: 100%;
    border: none;
    height: 0;
    margin: 0;
}
 
.content-container {
    background-color: burlywood;
    flex-grow: 1;
    padding: 25px;
    height: 250px;
    flex-basis: 0;
}

.project-container{
    border: solid tomato 1px;
}

#first-project-section {
    background-image: url('../images/coding3.jpeg');
    background-size: cover;
    height: 400px;
}

.project-label {
    background-color: tomato;
}

#second-project-section{
    background-image: url('../images/better-programmer.webp');
    background-size: cover;
    height: 200px;
}

#third-project-section{
    background-image: url('../images/code.jpeg');
    background-size:cover;
    height: 200px;
}

#fourth-project-section{
    background-image: url('../images/software-developement.webp');
    background-size:cover;
    height: 200px;
}

#fifth-project-section{
    background-image: url('../images/computer_programming.jpeg');
    background-size:cover;
    height: 200px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 24px;
}

ul {
    list-style-position: inside;
}
